$background--primary: #45a29e;
$background--secondary: #66fcf1;
$font--primary: #1f2833;
$font--secondary: #f0f0f0;

.profile-container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  overflow: hidden;
  justify-content: space-evenly;
  padding: 8em 1em 1em 1em;
  .skills {
    position: relative;
    width: 30%;
    height: max-content;
    background: rgba(102, 252, 241, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em 0.8em;
    border: 2px solid $background--secondary;
    h1 {
      position: absolute;
      top: -2em;
      letter-spacing: 1px;
      font-weight: 300;
      &::first-letter {
        color: $background--secondary;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      list-style: none;
      gap: 0.5em;
      li {
        font-size: 1.5em;
        width: 100%;
        border-bottom: 1px solid $font--secondary;
        &:last-child {
          border-bottom: none;
        }
        span {
          font-size: 1rem;
          vertical-align: text-top;
        }
      }
    }
  }
  .education {
    @extend .skills;
    width: 40%;
    font-size: 10px;
    font-weight: 300;
    h1 {
      font-size: 2rem;
    }
    ul {
      li {
        padding: 0.3em 0.7em;
        p {
          font-size: 1.1em;
          font-weight: 400;
          text-align: end;
          line-height: 1.2;
          &::first-letter {
            color: $background--secondary;
          }
        }
      }
    }
  }
}
