.home-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  gap: 10rem;
  padding-left: 4em;
  padding-right: 6em;

  h1 {
    letter-spacing: 1px;
    font-size: 4em;
    margin-bottom: 0.6rem;
    &::first-letter {
      color: #66fcf1;
    }
    &:first-child {
      font-weight: 400;
      font-size: 3em;
    }
    &:nth-child(2) {
      font-weight: 600;
      letter-spacing: 2px;
    }
  }
  h3 {
    color: #66fcf1;
    font-weight: 300;
    letter-spacing: 1px;
  }
  .bscodeslash {
    font-size: 8rem;
  }
}
